@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div class="container mt-4">
    <h1 class="display-4 text-center mb-4">Find your new favorite holiday getaway! Book a room today!</h1>

    <form method="get" class="mb-4">
        <div class="form-row justify-content-center">
            <div class="col-auto">
                <label for="RoomType" class="sr-only">Room Type:</label>
                <select asp-for="RoomType" class="form-control">
                    <option value="">All</option>
                    <option value="Single">Single</option>
                    <option value="Double">Double</option>
                    <option value="Suite">Suite</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="StartDate" class="sr-only">Start Date:</label>
                <input type="date" asp-for="StartDate" class="form-control" placeholder="Start Date" />
            </div>
            <div class="col-auto">
                <label for="EndDate" class="sr-only">End Date:</label>
                <input type="date" asp-for="EndDate" class="form-control" placeholder="End Date" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search available rooms</button>
            </div>
        </div>
    </form>


    <div class="row">
        @foreach (var room in Model.Rooms!)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/images/@(room.ImageFileName)" alt="Room @room.RoomNumber" class="card-img-top">
                        <h5 class="card-title">Room @room.RoomNumber</h5>
                        <p class="card-text">Type: @room.RoomType</p>
                        <p class="card-text">Price: @room.Price $ per night</p>
                        <p class="card-text">Description: @room.Description</p>
                        @if (room.IsAvailable)
                        {
                            <form method="post" asp-page-handler="BookRoom">
                                <input type="hidden" name="RoomId" value="@room.Id" />
                                <input type="hidden" name="StartDate" value="@Model.StartDate" />
                                <input type="hidden" name="EndDate" value="@Model.EndDate" />
                                <button type="submit">Book Room</button>
                            </form>
                        }
                        else
                        {
                            <p>Not available</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>